<div *ngIf="teacher">
        <hr />
        <label>Name: </label><br />
        <input [(ngModel)]="teacher.name" placeholder="name"><br />
        <label>Last Name: </label><br />
        <input [(ngModel)]="teacher.lastName" placeholder="lastNambre"><br />
        <label>Id: </label><br />
        <textarea [(ngModel)]="teacher.id" placeholder="id"></textarea><br />
        <label>Age: </label><br />
        <input [(ngModel)]="teacher.age" placeholder="age"><br />   
        <hr/>
        <h3>Classes</h3>
        <ul>
          <li *ngFor="let class of teacher.classes">
            <span>{{class}}</span>
          </li>
        </ul>     
      </div>