@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body{
    color: #333;
    font-family: "Fjalla One", Arial, "Monaco", sans-serif;
    font-size: 16px;
}

#container{
    margin: 0 auto;
    max-width: 960px;
}

header{
    background: #808080;
    border-bottom: 1px solid;
}

#container header{
    background: #af9f6d;
    border-bottom: 1px solid;
}

#container header h1{
    font-size: 4em;
    margin: 1em;
}

#container header p{
    font-size: 2em;
    margin: 1em;
}

#container #content{
    background: #dedede;
    padding: 10px;
}

#container #content article{
    background: #FFF;
    border-bottom: 2px solid #3117ff;
}

#container footer{
    background: #af9f6d;
}

@media screen and (min-width: 992px)  {

.colorOne {
        background: #F5A9D0;
    }

    .colorTwo {
        background: #00FF00;

    }

    .colorThree {
       background: #292A0A;
       color: #FFFFFF;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

 .colorOne {
        background: #ECF6CE;
    }

    .colorTwo {
        background: #00FF00;

    }

    .colorThree {
       background: #F7FE2E;
    }

}

@media screen and (min-width: 465px) and (max-width: 767px) {
   

    .colorOne {
        background: #ECF6CE;
        padding: 4px 4px 4px;
        display:inline-block;
        width: 45%;

        
    }

    .colorTwo {
        background: #FACC2E;
        padding: 4px 4px 4px;
        display:inline-block;
        width: 45%;
        
        

    }

    .colorThree {
       background: #8A2908;
       padding: 4px 4px 4px 4px;
       display:inline-block;
        width: 92%;
        margin: 0.2em;
        

    }

}

@media screen and (max-width: 465px){
   .colorOne {
        background: #0101DF;
        color: #FFFFFF;
    }

    .colorTwo {
        background: #610B0B;
        color: #FFFFFF;

    }

    .colorThree {
       background: #FE2E2E;
       color: #FFFFFF;
    }
}